p{
	font-size: 12px !important;
}


body p {
	font-size: 20px;
	background-color: yellow;
}

/*body p:last-child {
	font-size: 10px;
}*/

#p2 {
	font-size: 10px;
}

body span{
	background-color: yellow;
}
#divID{
	background-color: red;
}

div{
	background-color: blue;
}

.divC{
	background-color: green;
}