div {
	height: 400px;
	width: 300px;
}
div:visited {
background-color: white;
box-shadow: 0px 200px 93px -31px rgba(18,29,235,1);
}
div:hover {
	background-color: blue;
	border-radius: 50%;
}


a:visited{
	background-color: gray;
}

a:hover{
	background-color: green;
}
a {
	background-color: yellow;
	display: inline-block;
	text-align: center;
	border-radius: 10%;
}
/*visited wydaje mi sie powinien dzialac na grorze jak 
jest jako pierwszy ale wydaje mi sie ze nie dziala */

.avatar{
width: 800px;
}
.avatar img{
	height: 80px;
	width: 80px;

}
.avatar span{
	border:2px none black;
	padding: 20px 150px 20px 5px;
	vertical-align: top;
	text-align: left; 
	display: inline-block;
	border-radius: 10%;
	box-shadow: 10px 10px 12px -1px rgba(209,209,209,1);
}
table tr th{
	background-color: navy;
	color:white;
	font-weight: bold;

}
table tr:nth-child(even){
	background-color: lightblue;
}
table tr:nth-child(odd){
	background-color: blue;
}
td:hover{
	color:red;
}