#navigation{  

  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;

}
#navigation li{
		background-color: yellow;
  display: inline-block;
  width: 75px;
  font-size: 20px;
  padding: 20px;
}
#navigation + li {
  border-radius: 50px 0px 0px 50px;
}

li:nth-child(4) {
	border-radius: 0px 50px 50px 0px;
}
#zebra p:nth-child(odd){
	background-color: grey;
}
#other + div{
	background-color: green;

}
#other div:last-child{
	background-color: blue;
}
/*nie bardzo wiem o jakie divy chodzi z tlem pomaranczowym*/
/* moge te + li zalatwic nth child ale wolalbym uzyc 
+ tylko nie wiem dlaczego nie dziala */
