div{
	height: 100px;
	width: 100px;
	border: 1px solid green;
	float:left;
}
.parent{
	width: 800px;
	border: 1px solid red;
}
.t{
clear:both;
}

li{
	float:left;

}
.clear{
	clear: both;
}
.zdjecie{
	min-height: 230px;
	width: 300px;
	border:2px solid blue;
	margin:10px;
	position: relative;
	padding: 10px;
}
.zdjecie img{
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	bottom: -50px;
	right:-50px;
}
.dwa{
	min-height: 230px;
	width: 300px;
	border:none;
	position:relative;
}
.dwa img{
	height: 100px;
	width: 100px;
	border-radius: 50%;


}
.jedenz{

bottom: 15px;
}
.dwaz{
position: absolute;
bottom: 90px;
right: 170px;
z-index: -1;
}