.popup{
	width: 400px;
	height: 100px;
	background-color: beige;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
vertical-align: middle;
	font-size: 50px;
	padding-top: 20px;
	font-weight: 700;
	border-radius: 20px;


}
.radius{
	height: 500px;
	width: 500px;
	border: 1px solid red;
	border-radius: 50px 0px 50px 0px;
}

.border{
	height: 500px;
	width: 500px;
	box-shadow: 0px 0px 0px 5px red;
	box-shadow: 0px -10px 14px 0px rgba(0,43,255,1);

}