body div{
	font-size: 1em;
	height: 300px;
	width: 300px;
	background-color: #fac200;
}
div div {
	font-size: 0.4rem;
	height: 50%;
	width: 50%;
	background-color: gray;
}

/* em zmienia text w tym przypadku w odnisieniu do default settings jesli em 1 zostaje bez zmian, jesli em>1 tekst zostaje zwiekszony 
jesli em<1 tekst zostaje zmniejszony  

rem odnosi sie do bazowego elementu

px zmieniaja rozmiar w zaleznosci od wilekosci pixeli nie sa zalezne od innych elementow tekstowych  */

/* szary obszar zmienil sie proporcjonalnie do wymiarow statycznych pierwszego diva */