* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
  height: 200px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

h1{
    padding-left: 20%;
    color: white;
    font-weight: none;
}


header {
    padding: 20px 0;
    background-color: blue;
    background-size: cover;
    background-image: url(../images/night-sky.jpg);
    color: #red;
    position: fixed;
    width: 100%;
}

header:after, header:before {
    content: "";
    clear: both;
    display: table;
}

nav {
    float: center;
    padding: 20px 20% 0 20%;
}

.hl {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 10px;
    font-size: 30px


}

article {
    width: 50%;
    float: left;
    padding: 40px;


}

section:after, section:before {
    content: "";
    clear: both;
    display: table;
}

section{
    padding-top: 90px;
}



.quaterNav{

padding: 20px;
border-left: 2px solid beige;
width: 25%;
float: left;

}

.quaterNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;


}

.quaterNav a {
  display: block;
  color: ##fff;
  padding: 10px
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #fff;
    text-align: left;
    padding: 8px;

}
th{
        background-color: lightblue;
}
td{
    background-color: blue;
    color: white;
}

tr:nth-child(even) {
    /*background-color:;*/
}
td:last-child{
    column-span: 2;
    text-align: center;
}
