@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: local('fonts/Lato Regular'), local('fonts/Lato-Regular'),
        url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Regular.woff2') format('woff2'),
        url('/fonts/Lato-Regular.woff') format('woff'),
        url('/fonts/Lato-Regular.ttf') format('truetype'),
        url('/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Chelsea Market', cursive;
}