p {
	background-color: red;
}

#inny {
	background-color: blue;
}

.blog {
	background-color: #C2B290;
}
.blog p {
	background-color: pink;
}
#rodzic p {
	background-color: orange;
}
#rodzic > p{
	background-color: green;
}
#other > p {
	background-color: brown;
}
#inny p {
	background-color: purple !important;
}