h1, h2, h3, h4, h5{
	background-color: green;
}

.black, .white{
	background-color: gray;
}
.white + .important{
	background-color: green;
}

/*body div .important:first-of-type{
	background-color: green;

} */

body div div{
	background-color: green;
}
body .white{
	background-color: blue !important;
}
