input[type="submit"]{
	background-color: blue;
}
input[type="email"]{
	background-color: green;
}
label, span[class*="main-width"]{
	background-color: red;
}
label[class="main-width"]{
	background-color: pink;
}