#rocks{
	height: 350px;
	width: 50%;
	background-image: url("../images/rocks.jpg");
	background-size: cover;
	background-position: center;

}

#grunwald{
	height: 300px;
	width: 300px;
	background-image: url("../images/grunwald.jpg");
	background-position: 55% 54%;
	background-size: cover;

}

body{
	background-image: url("../images/mountains.jpg")
/* z jakiegos powodu jak wpisze background-size cover albo contain to 
znika obraz? nie bardzo wiem dlaczego. */
}