body{
	margin:0;
}

header{
	width: 100%;
	background-color: black;
}
.container{
	padding: 10px 0 0 0;
	margin-left: 20%;
	margin-right: 20%;
	height: 40px;
}
.logo{
	font-size: 1.5em;
	float: left;
	color: white;

}
nav{
	font-size: 1.3em;
	float: right;
	text-align: center;
	word-spacing: 20px;
	color: white;
}
.clear{
	clear:both;
}
.mainBox{
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
.blackBox{
	height: 250px;
	width: 250px;
	background-color: black;
	float: left;
	margin-right:20px;
}
.article{
	float: left;
}

.black{
	background-color: black;
	height: 300px;
}
.whiteBox{
	margin-top:20px;
	height: 250px;
	width: 240px;
	background-color: white;
	float: left;
	margin-right:10px;
}
footer{
	padding: 10px 0 0 0;
	margin-left: 20%;
	margin-right: 20%;
	height: 40px;
}
.cpr{

	float: left;
	color: black;
	text-align: center;
}
.logoF{
	float: right;
	text-align: center;
	color: black;
}