.container{
	border-style: solid;
	border-color: blue;
	height: 400px;
}
.one{
	width: 350px;
	border: 1px solid red;
	padding: 20px;
	box-sizing: 
}

/* height i width elementu blokowego jest zlozony z margin + 
padding+ border wiec jesli do diva dodamy padding np 
10 a hight ustalimy na 20 calosc bedzie miala 30
jesli zasotsoujemy box-size padding i border zostana 
'dolaczone' do warotsci height 
margin jest 'ponad ' border wiec nie bedzie included w boxsizing 8/